<mat-toolbar style="background-color:#1e2833;">
    <mat-toolbar-row>
        <span class="name-website">ADOPET</span>
        <span class="space"></span>
        <span class="separete-buttons">
            <button id="btnLogin" mat-stroked-button matTooltip="Logar-se no Portal" [matTooltipShowDelay]="500"
                [matTooltipHideDelay]="500" class="buttons-main" routerLink="login">Login</button>
            <button id="btnRegister" mat-stroked-button matTooltip="Cadastra-se no Portal" [matTooltipShowDelay]="500"
                [matTooltipHideDelay]="500" class="buttons-main" routerLink="register">Cadastre-se</button>
        </span>
        <span>
            <button id="btnHome" mat-stroked-button matTooltip="Ir para página de Ínicio" [matTooltipShowDelay]="500"
                [matTooltipHideDelay]="500" class="buttons-main" routerLink="/index">Inicio</button>
            <button id="btnAnimals" mat-stroked-button matTooltip="Ir para página de Visualização de Animais"
                [matTooltipShowDelay]="500" [matTooltipHideDelay]="500" class="buttons-main"
                routerLink="view/animals">Encontrar Animais</button>
            <button id="btnOngs" mat-stroked-button matTooltip="Ir para página de Visualização de ONGS" [matTooltipShowDelay]="500"
                [matTooltipHideDelay]="500" class="buttons-main" routerLink="view/ongs">Encontrar
                Instituições</button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>