@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Fjalla+One|Glegoo|Merriweather&display=swap');

.background-mission {
  background-image: url(../../images/do-good-for-dogs-cats-and-other-animals-4.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
}

::ng-deep .mat-grid-tile:first-child .mat-figure:first-child {
  background: linear-gradient(45deg, rgba(136, 121, 149, 0.26), rgba(27, 23, 45, 0.5) 100%);
}

.our-mission {
  margin-left: 10%;
  margin-right: 600px;
  height: inherit;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title-our-mission {
  font-family: 'Merriweather', serif;
  font-weight: 600;
  font-size: 500%;
  margin-top: 36%;
  line-height: 1.2;
  text-align: left;
  margin-bottom: auto;
}

.text-our-mission {
  font-family: 'Fjalla One',  sans-serif;
  font-size: 1.2rem;
  text-indent: 50px;
  font-weight: 300;
  line-height: 1.7;
  margin-top: 10px;
}

.how-works {
  padding-left: 106px;
  padding-right: 16px;
  min-height: 80px;
}

.how-works-title {
  font-family: 'Alfa Slab One', cursive;
  font-size: 60px;
  font-weight: inherit;
  text-align: center;
  margin: revert;
}

.description { font-family: 'Glegoo', serif; color: #80829c; }

.txt-bold { font-weight: bold; color:  #0b2f42; }
.txt-underline { text-decoration: underline; } 

.square-one {
  background-color:  #a7a585;
  text-align: center;
}
.square-two {
  background-color:  #c9a791 ;
  text-align: center;
}
.square-three {
  background-color:  #9192c9;
  text-align: center;
}
.square-four {
  background-color:  #c1be82;
  text-align: center;
}

.square-title {
  text-align: center;
  margin-top: -120px;
  font-weight: 300;
}

.square-text {
  font-family: 'Glegoo', serif;
  text-align: center;
  margin-top: 10px;
}

.icon-box { 
  font-size: 40px; 
  margin-top: 20px; 
}

// FONTES
// font-family: 'Merriweather', serif;
// font-family: 'Fjalla One', sans-serif;
// font-family: 'Alfa Slab One', cursive;
// font-family: 'Glegoo', serif;