<mat-grid-list cols="4" rowHeight="400px">
    <mat-grid-tile rowspan="1.5" colspan="4" class="background-mission">
        <div class="our-mission">
            <h1 class="title-our-mission">Nossa Missão</h1>
            <h6 class="text-our-mission">
                A Missão do portal é ser um canal onde entidades que precisam de doações serem visíveis e
                acessíveis a possíveis doadores. Outro viés do portal é tornar acessível a doação de animais que
                estão nos abrigos, possibilitando assim que os animais possam ter um lar.
            </h6>
        </div>
    </mat-grid-tile>

    <mat-grid-tile rowspan="1" colspan="4">
        <div class="how-works">
            <h1 class="how-works-title">Como Funciona?</h1>
            <span class="description">
                <p>
                    O <span class="txt-underline">ADOPET</span> busca ser uma <span class="txt-bold">ponte entre 
                    o abrigo com os cidadãos</span> e entidades que desejam ajudar.
                </p>
            </span>
            <span class="description">
                <p>
                    A Instituição que <span class="txt-bold">deseja receber doações</span> é necessário a
                    realização de um cadastro, que após valido a <span class=txt-underline>veracidade e legalidade da instituição</span>, 
                    a Instituição pode <span class="txt-bold">receber doações dos usuários cadastrados como doadores.</span> <br><br>
                    A instituição também pode <span class="txt-underline">através do portal</span> <span class="txt-bold"> anunciar os animais que estão para adoção.</span>
                </p>
            </span>
            <span class="description">
                <p>
                    Para os usuários que <span class="txt-bold">desejam também ser doadores</span>, também é necessário realizar um cadastro. Após o cadastro
                    <span class="txt-underline">será possível visualizar as instituições, doar e buscar animais para adoção</span>.
                </p>
            </span>
        </div>
    </mat-grid-tile>

    <mat-grid-tile class="square-one">
        <div>
            <h2 class="col-md-5 offset-md-3">Clientes</h2>
            <i class="material-icons icon-box">business_center</i>
            <p class="square-text">
                Público alvo jovens e adultos, sem restrições de idade.
            </p>
        </div>        
    </mat-grid-tile>

    <mat-grid-tile class="square-two">
        <div>
            <h2 class="col-md-5 offset-md-3">Enfoque</h2>
            <i class="material-icons icon-box">emoji_objects</i>
            <p class="square-text">
                Nos profissionais da área da saúde animal e 
                membros de organizações defensoras dos direitos dos animais.
            </p>
        </div>
    </mat-grid-tile>

    <mat-grid-tile class="square-three">
        <div>
            <h2 class="col-md-5 offset-md-3">Visibilidade</h2>
            <i class="material-icons icon-box">remove_red_eye</i>
            <p class="square-text">
                Canal onde entidades que precisam de 
                doações serem visíveis e acessíveis a possíveis doadores.
            </p>
        </div>
    </mat-grid-tile> 

    <mat-grid-tile class="square-four">
        <div>
            <h2 class="col-md-5 offset-md-3">Acessível</h2>
            <i class="material-icons icon-box">mobile_friendly</i>
            <p class="square-text">
                Tornar acessível a doação de animais que estão nos abrigos, 
                possibilitando assim que os animais possam ter um lar.
            </p>
        </div>
    </mat-grid-tile>
</mat-grid-list>