<mat-grid-list cols="4" rowHeight="400px">
    <mat-grid-tile rowspan="1.5" colspan="4" class="background-mission">
        <div class="our-mission">
            <h1 class="title-our-mission">Nossa Missão</h1>
            <h6 class="text-our-mission">
                A Missão do portal é ser um canal onde entidades que precisam de doações serem visíveis e
                acessíveis a possíveis doadores. Outro viés do portal é tornar acessível a doação de animais que
                estão nos abrigos, possibilitando assim que os animais possam ter um lar.
            </h6>
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="4">2</mat-grid-tile>
    <mat-grid-tile>
        <div>
            <h6>
                Missão do produto
                O Portal de Doações e Adoções tem como público alvo jovens e adultos, sem restrições de idade
            </h6>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
</mat-grid-list>